*{
    margin: 0;
    padding: 0; 
}

#nav-min-ctn{
    position: relative;
    overflow: hidden;
}

#nav-min{
    top: -250px;
    transition: all 800ms;
}

.nav-min{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: repeat(1, 80px);
    background-color: rgba(230, 230, 230, .9);
    align-items: center;
    z-index: 100; 
    position: fixed;
}

.nav > ul > li{
    list-style: none;
    float: left;
}

.op-sng > a{
    text-decoration: none;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding: 5px 20px;
    transition: ease-in 0.4s;
}

.op-sng > a:hover{
    background-color: #326FC4;
	color: #fff;
}

.prdt-list:hover > ul{
    display: block;
}

.nav-min-prdt{
    display: none;
    list-style: none;
    position: absolute;
	background:rgba(50, 111, 196, .8);
}

.nav-min-prdt > li,a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.nav-min-prdt > li {
    padding: 8px 5px;
    display: block;
}

.nav-min-prdt a:hover{
    color: #000;
}

.logo-min{
    width: 40%;
    padding-left: 5%;
}

.icon-nav-min{
    width: 4.5%;
}

.search-min{
    display: none;
}

@media only screen and (max-width: 1024px){

    .nav-min{
        margin: 0;
        padding: 0;
        display: grid;
        width: 100%;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(1, 80px);
        background-color: rgba(230, 230, 230, .9);
        align-items: center;
        z-index: 100; 
        position: fixed;
    }
    
    .logo-min{
        width: 75%;
        padding-left: 5%;
    }
    
    .icon-nav-min{
        width: 5%;
    }
}


@media screen and (max-width: 540px){
    #nav-min-ctn{
        display: none;
    }
}
