@import "new-nav.css";
@import "nav-min2.css";
@import "footer.css";
@import "buscador.css";

/*	CSS DOCUMENT	*/   

*{
	margin: 0;
	padding: 0;
}  

#banner { 
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.cover-ctn{
    padding: 0%;
}

.cat-name{
    width: 45%;
    position: absolute;
    font-size: 60px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    padding-top: 25%;
    padding-left: 12%;
}

.cat-name-s{
    width: 40%;
    position: absolute;
    font-size: 80px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    padding-top: 26%;
    padding-left: 12%;
}

.cat-name-xs{
    width: 40%;
    position: absolute;
    font-size: 90px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    padding-top: 25%;
    padding-left: 13%;
}

.cat-name-m{
    width: 40%;
    position: absolute;
    font-size: 80px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    padding-top: 20%;
    padding-left: 12%;
}

#banner > img{
    margin-bottom: 90px;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

h5 , h6{
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: inline;
    font-weight: 100;
}

h6{
    float: right;
}

.spa-des{
    display: none;
}

/*--------------ITEMS----------------*/

#products-ctn{
    max-width: 100%;
}

#products-items{
    width: 80%;
    margin: 80px auto;
}

#item {
    background-color: #CCCCCC;
    z-index: 1;
    margin: 8px;
    padding: 10px;
}

#icon-add{
    width: 2%;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

#name-pr{
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-left: 40px;
    letter-spacing: 2px;  
}

#name-pr:hover{
    color: #326FC4;
    transition: all 300ms;
}

.description{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    font-family: Arial, sans-serif;
    padding: 10px 0px;
    margin-top: -50px;
}

.product{
    display: none;
    transition: 600ms;
    margin-top: 50px;
}

#item .product:target{
    display: block;
}

h1{ 
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px;
}

.size{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 40px;
}

h4, p{
    font-size: 20px;
    font-weight: 500;
}

h3{
    font-size: 20px;
    font-weight: 500;
}



/*    PAGINADOR       */

.pagination {
    width: 90%;
    margin:0 auto;
    margin-bottom: 50px;
}

.pagination ul {
	list-style:none;
	text-align: center;
}

.pagination ul li {
	display:inline-block;
	margin-right:10px;
}

.pagination ul li a {
	display:block;
    padding:10px 5px;
    width: 30px;
    height: 20px;
	color:#fff;
	background:#326FC4;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border-radius: 50%;
    transition: all 200ms;
}

.pagination ul li a:hover {
	background:#D02C2F;
}

.pagination ul li .active {
	background:#D02C2F;
	font-weight:bold;
}




@media screen and (max-width: 1024px){

    #products-ctn{
        max-width: 100%;
        margin-top: 50px;
    }

    .cat-name,.cat-name-s, .cat-name-xs, .cat-name-m{
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 80px;
        font-weight: 100;
        font-family: Arial, sans-serif;
        font-style: normal;
        padding: 15px 0px;
        background-color: #D02C2F;
        text-transform: uppercase;
    }

    #banner > img{
        margin-bottom: 50px;
        width: 100%;
    }

    h5 , h6{
        font-family: Arial, sans-serif;
        font-size: 25px;
        display: inline;
        font-weight: 100;
    }
    
    .pagination {
        width: 90%;
        margin: 20px auto;
        margin-bottom: 50px;
    }
}



@media screen and (max-width: 768px){

    #products-ctn{
        max-width: 100%;
        margin-top: 0px;
    }

    .fill{
        padding-top: 18%;
    }

    .cover-ctn{
        padding-top: 4%;
    }

    .cat-name,.cat-name-s, .cat-name-xs, .cat-name-m{
        word-spacing: 15px;
        font-size: 70px;
        margin: 0;
    }

    #banner > img{
        margin-bottom: 35px;
        width: 100%;
    }

    h5 , h6{
        font-family: Arial, sans-serif;
        font-size: 25px;
        display: inline;
        font-weight: 100;
    }

    #icon-add{
        width: 3%;
        float: right;
        padding-top: 5px;
        padding-right: 5px;
    }

    .pagination {
        width: 90%;
        margin:20px auto;
        margin-bottom: 50px;
    }
}



@media screen and (max-width: 540px){

    .fill{
        padding-top: 28%;
    }

    .cover-ctn{
        padding-top: 0%;
    }

    #banner { 
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .cat-name,.cat-name-s, .cat-name-xs, .cat-name-m{
        background-color: #D02C2F;
        width: 100%;
        padding: 8px 0px;
        position: relative;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: 200;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 8px;
    }

    .cat-name{
        font-size: 45px;
    }
    
    .cat-name-s{
        font-size: 60px;
    }
    
    .cat-name-xs{
        font-size: 60px;
    }
    
    .cat-name-m{
        font-size: 60px;
    }
    
    #banner > img{
        margin-bottom: 30px;
        width: 100%;
    }

    h5 , h6{
        font-family: Arial, sans-serif;
        font-size: 22px;
        display: inline;
        font-weight: 100;
    }

    #products-items{
        width: 95%;
        margin: 20px auto;
        margin-bottom: 40px;
    }

    .description{
        display: block;
        padding-left: 10px;
    }

    #icon-add{
        width: 5%;
        float: right;
        padding-top: 5px;
        padding-right: 5px;
    }

    #name-pr{
        font-family: Arial, sans-serif;
        font-size: 25px;
        padding-left: 10px;
        letter-spacing: 2px;  
    }

    h1{ 
        font-size: 17px;
        font-weight: 500;
        padding-left: 0px;
        position: absolute;
    }

    .size{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-left: 0px;
    }

    h3 ,h4, p{
        font-size: 18px;
        font-weight: 500;
    }
    

}